<%- include('partials/_header') -%>
    <h1>Reset Your Password on Post-It</h1>
    <p>Hi <%= name %>,</p>
    <p>We received a request to reset your password on Post-It. To reset your password, please make a post request to
        the link below or add the token to your request params.
    </p>
    <p>if you're unsure on how to go about this. Please checkout documentation</p>
    <a href="<%= url %>" class="button">Reset Your Password</a>
    <p>TOKEN:
        <%= token %>
    </p>
    <p>If you did not request a password reset, you can safely ignore this email. Your account is still secure.</p>
    <%- include('partials/_footer') -%>