<%- include('partials/_header') -%>
    <h1>Welcome to Post-It, <%= name %>!</h1>
    <p>Thank you for joining our social media platform. We're excited to have you as a part of our community.</p>
    <p>With Post-It, you can share your thoughts, photos, and videos with your friends and family. You can also discover
        new content and connect with people who share your interests.</p>
    <p>To get started, click the button below to create your first Post-It</p>
    <a href="<%= url %>" class="button">Post-It</a>
    <p>If you have any questions or need help getting started, please don't hesitate to reach out to our support team.
        We're here to help!</p>
    <p>Thanks again for joining Post-It, <%= name %>. We look forward to seeing you on the platform!</p>
    <%- include('partials/_header') -%>